<div class="off-canvas-wrapper">
<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

  <!-- off-canvas title bar for 'small' screen -->
  <div class="title-bar" data-responsive-toggle="widemenu">
    <div class="title-bar-left">
      <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
    </div>
  </div>

  <!-- off-canvas left menu -->
  <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
    <ul class="vertical dropdown menu" data-dropdown-menu>
      <li><a href="profile.html">Account</a></li>
      <li><a href="events.html">Event List</a></li>
      <li><a href="#">Reward List</a></li>
      <li><a href="reedeem.html">Redeem Code</a></li>
      <li><a href="#">Redeem Points</a></li>
    </ul>
  </div>



  <!-- original content goes in this container -->
  <div class="off-canvas-content" data-off-canvas-content>
    <div class="row column">
      <img src="http://placehold.it/2000x3000" alt="" />
    </div>
  </div>
</div>
</div>
