
/* mobile nav */

ul.dropdown.menu li a {
	font-size: 18px;
    font-weight: bold;
}

/* /mobile nav */

/* buttons */

.button {
	background-color: #616a9e;
	border-radius: 25px;
	font-size: 18px !important;
	font-weight: normal !important;
}

.button:hover {
	background-color: #575f8e;
}

#profile-page .button {
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px;
}

/* /buttons */

/* redeem page */

#redeem-page #redeem-success {
  display: none;
}

#redeem-page h1 {

}

#redeem-page input {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
}

/* /redeem page */

/* event list page */

#events-page h2 {
	font-weight: bold;
	margin-top: 10px
}

#events-page #events-list .points {
	font-style: italic;
}

/* /event list page */

#desktop-menu ul {
	list-style: none;
	background-color: #3a3f5f;
	margin: 0 0 0 0;
    display: inline-block;
    width: 100%;
}

#desktop-menu ul li {
	float: left;
}

#desktop-menu ul li a {
	text-decoration: none;
	color: white;
    line-height: 50px;
    margin-left: 20px;
}

/* profile page */
#profile-page {
	margin-top: 20px;
}

#profile-page h1, #profile-page p {
	color: white;
	text-align: center;
}

#profile-page .user--photo {
	display: block;
	width: 200px;
	margin: 0 auto;
}

#profile-page .user--photo img {
	border-radius: 100px;
}

#profile-page .user--name {
	
}

#profile-page .redeem-title {
	font-weight: bold;
}

#profile-page .user--points {
	
}
/* /profile page */

/* points page */

#points-page {

}

#points-page #redeem-items-list {

}

#points-page #redeem-items-list .redeem-item {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: thick solid grey;
  	border-width: 0px;
 	border-bottom-width: 1px;
}

#points-page #redeem-items-list .redeem-item .redeem--business {
	font-weight: bold;
}

/* /points page */

@media only screen and (max-width: 639px)  {
	#desktop-menu {
		display: none;
	}
}

