<% include partials/head %>

<body>
<% include partials/nav %>

  <div id="events-page">
  <div id="events-list" class="row">
  	<div class="small-12 columns event">
  		<h1>ATX Hack For Change</h1>
  		<p class="points">10 points <span class="date">06/04/2016</span></p>
  		<p class="description">ATX Hack For Change is a yearly event on the day of Civic Hacking. </p>
  	</div>
  	<div class="small-12 columns event">
  		<h1>ATX Hack For Change</h1>
  		<p class="points">10 points <span class="date">06/04/2016</span></p>
  		<p class="description">ATX Hack For Change is a yearly event on the day of Civic Hacking. </p>
  	</div>
  	<div class="small-12 columns event">
  		<h1>ATX Hack For Change</h1>
  		<p class="points">10 points <span class="date">06/04/2016</span></p>
  		<p class="description">ATX Hack For Change is a yearly event on the day of Civic Hacking. </p>
  	</div>
  	<div class="small-12 columns event">
  		<h1>ATX Hack For Change</h1>
  		<p class="points">10 points <span class="date">06/04/2016</span></p>
  		<p class="description">ATX Hack For Change is a yearly event on the day of Civic Hacking. </p>
  	</div>
  	<div class="small-12 columns event">
  		<h1>ATX Hack For Change</h1>
  		<p class="points">10 points <span class="date">06/04/2016</span></p>
  		<p class="description">ATX Hack For Change is a yearly event on the day of Civic Hacking. </p>
  	</div>
  </div>

<% include partials/footer %>
