<% include partials/head %>

<body>
<% include partials/nav %>

  <div id="events-page">
  	<div id="events-list" class="row">
  		<div class="small-12 columns event">
  			<h2>ATX Hack For Change</h2>
  			<p class="points">10 points <span class="date">06/04/2016</span></p>
  			<p class="description">ATX Hack For Change is a yearly event on the day of Civic Hacking. </p>
  		</div>
  		<div class="small-12 columns event">
  			<h2>Austin Smiles</h2>
  			<p class="points">20 points <span class="date">06/04/2016</span></p>
  			<p class="description">Come join the Austin Smiles fundrasier for our Ecuador mission!</p>
  		</div>
  		<div class="small-12 columns event">
  			<h2>Avendi</h2>
  			<p class="points">30 points <span class="date">06/04/2016</span></p>
  			<p class="description">Connecting women entrepreneurs with resources and leadership </p>
  		</div>
  		<div class="small-12 columns event">
  			<h2>CASA Travis</h2>
  			<p class="points">10 points <span class="date">06/04/2016</span></p>
  			<p class="description">Help support children at the Casa super hero fundraiser. </p>
  		</div>
  		<div class="small-12 columns event">
  			<h2>Carritas</h2>
  			<p class="points">10 points <span class="date">06/04/2016</span></p>
  			<p class="description">Take people off the streets by coming to our informational event. </p>
  		</div>
  	</div>
  </div>

<% include partials/footer %>
