<% include partials/head %>

<body>
  <% include partials/nav %>

  <a href="#" class="button expanded">Facebook</a>
  <h1> BRAVE </h1>
  <h2>Log In/ Sign upFacebook</h2>
  <h3>with</h3>

<% include partials/footer %>
