<% include partials/head %>

<body>
  <% include partials/nav %>

<h1> You Now Have</h1>
<img src="https://allthingsbooker.files.wordpress.com/2016/05/gold-star.jpg" alt="star" />
<h2> points </h1>

<% include partials/footer %>
