<% include partials/head %>

<body>
  <% include partials/nav %>

  <div id="points-page">
  	<div id="redeem-items-list" class="row">
  		<div class="small-12 columns redeem-item">
  			<h1 class="redeem--business">Rockstar Bagel</h1>
        <h2 class="redeem--reward">50% off Bagel & Spread</h2>
  			<p class="redeem--location">1900 Rosewood Ave, Austin, TX 78702</p>
  			<p class="redeem--points">30 points</p>
  			<a href="#" class="button small btn--redeem-reward">Redeem Award</a>
  		</div>
  		<div class="small-12 columns redeem-item">
  			<h1 class="redeem--business">P Terry's</h1>
        <h2 class="redeem--reward">Free Burger and Soda</h2>
  			<p class="location">204 W Ben White Blvd</p>
  			<p class="points">100 points</p>
  			<a href="#" class="button small btn--redeem-reward">Redeem Award</a>
  		</div>
  		<div class="small-12 columns redeem-item">
  			<h1 class="redeem--business">Bennu Coffee</h1>
        <h2 class="redeem--reward">Free Small Coffee</h2>
  			<p class="location">2001 E Martin Luther King Jr Blvd, Austin, TX 78702</p>
  			<p class="points">30 points</p>
  			<a href="#" class="button small btn--redeem-reward">Redeem Award</a>
  		</div>
  		<div class="small-12 columns redeem-item">
  			<h1 class="redeem--business">Kebabalicious</h1>
        <h2 class="redeem--reward">50% off Kebab Special</h2>
  			<p class="location">1311 E 7th St, Austin, TX 78702</p>
  			<p class="points">100 points</p>
  			<a href="#" class="button small btn--redeem-reward">Redeem Award</a>
  		</div>
  		<div class="small-12 columns redeem-item">
  			<h1 class="redeem--business">Houndstooth Coffee</h1>
        <h2 class="redeem--reward">Free Cappuccino or Latte</h2>
  			<p class="location">401 Congress Ave</p>
  			<p class="points">30 points</p>
  			<a href="#" class="button small btn--redeem-reward">Redeem Award</a>
  		</div>
  	</div>
  </div>

  <script src="js/request.js"></script>

<% include partials/footer %>
