<% include partials/head %>

<body>
  <% include partials/nav %>

  <div id="profile-page">
  	<p class="user--photo"></p>
  	<h1 class="user--name"></h1>
  	<p class="redeem-title">Redeemable Points:</p>
  	<p class="user--points"></p>

  	<script src="js/request.js"></script>

  	<a href="#" class="button btn--profile">Volunteering Opportunities</a>
  	<a href="#" class="button btn--profile">Redeem Points</a>
  	<a href="#" class="button btn--profile">Rewards Listing</a>
  </div>

<% include partials/footer %>
