<% include partials/head %>

<body>
  <% include partials/nav %>

  Profile

  <p class="user--name"></p>
  <p class="user--photo"></p>
  <p class="user--points"></p>

  <script src="/js/main.js"></script>

<% include partials/footer %>

<a href="#" class="button large">Volunteering Opportunities</a>
<a href="#" class="button large">Redeem Points</a>
<a href="#" class="button large">Rewards Listing</a>
