<% include partials/head %>

<body>
  <% include partials/nav %>

  <div id="redeem-page">
  	<div class="row">
  	  <div class="small-12 columns">
  	    <h1>Enter Code<h1>
  	     <input type="text" class="input--code" placeholder="Code" />
  	    <a href="#" class="button btn--redeem" onclick="checkCode(document.querySelector('.input--code').value)">Redeem Code</a>
  	  </div>
  	</div>
  	<span class="user--points"></span>
  </div>

<script src="js/request.js"></script>

<% include partials/footer %>
