<% include partials/head %>

<body>
  <% include partials/nav %>

  <div id="redeem-page">
  	<div class="row">
  	  <div class="small-12 columns">
  	    <label>Enter Code
  	      <input type="text" placeholder="Code" />
  	    </label>
  	    <a href="#" class="button">Redeem Code</a>
  	  </div>
  	</div>
  </div>

<% include partials/footer %>
 